# Log files
*.log

# Object files
*.o

# Emacs backup files
*~
*#
.#*
*.bak

# Emacs byte-compile files
*.elc

# Emacs direcotries
/.emacs.d/*
!/.emacs/INIT.org
!/.emacs/Makefile
!/.emacs/elisp

# w3m
/.w3m/*
!/.w3m/bookmark.html
